// Signin
#signin {
  box-shadow: 0 0 27px rgb(159 171 180 / 20%) !important;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: $purple;
  }
  .link-signin {
    font-size: 0.8em;
    line-height: 30px;
    font-weight: 900;
    padding-left: 20px;
    color: #000;
    svg {
      padding-left: 6px;
      font-size: 15px;
      @include transform;
    }
    &:hover {
      svg {
        color: $blue;
      }
    }
  }
}

// navbar
#navbar {
  ul {
    li {
      padding-left: 33px;
      &:first-child {
        padding-right: 50px;
        a {
          color: #000;
          font-weight: 600;
        }
      }
    }
    a {
      color: $secondary;
      font-size: 0.96em;
      @include transform;
      &:hover {
        color: #000;
      }
    }
  }
}

.logoWin {
  width: 126px;
  height: 40px;
}
.btnPlus {
  border-radius: 25px;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 0.85em;
  svg {
    margin-left: 14px;
    padding: 7px;
    border-radius: 25px;
    background-color: #fff;
    font-size: 1.2em !important;
    @include transform;
  }
  span {
    margin-right: -5px;
  }
  &:hover {
    svg {
      rotate: 90deg;
    }
  }
}
