$mainGreen: #4ac562;
$brown: #7b7b7b;
$lightDark: #f4f4f4;
$redModal: #dc3545;


// RightSide
#rightSide-desktop {

    .remove-icon {
        margin-top: 3.2px;
        margin-right: 10.4px;
    }


    .box-main {
        margin-top: 20px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
        background-color: #fff !important;
        border-radius: 10px !important;
        box-shadow: 0 0 35px rgb(159 171 180 / 13%) !important;
    }



    .box-skeleton {
        span {
            height: 14px;
        }

        .span-1 {
            width: 252px;
            margin-bottom: 28px !important;
        }

        .span-3 {
            margin-top: 36.8px !important;
        }

        .span-4 {
            width: 150px !important;
            margin-top: 64px !important;
        }

        .span-5 {
            margin-top: 10px !important;
        }
    }

    a {
        color: $brown !important;
        font-size: 14px !important;

        &:hover {
            color: black !important;
            transition: all .3s;
        }
    }
}


// moreDetails-desktop
#moreDetails-desktop {
    .box-main {
        margin-top: 20px;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 35px rgb(159 171 180 / 13%);
    }



    .box-skeleton {
        span {
            height: 14px !important;
        }

        .span-1 {
            margin-bottom: 28px;
            width: 252px !important;
        }


        .span-3 {
            margin-top: 36.8px;
        }
    }

}




// LeftSide
#leftSide-desktop {
    border-radius: 10px !important;
    max-width: 100% !important;
    margin-top: 55px !important;
    box-shadow: 0 0 35px rgb(159 171 180 / 13%) !important;


    .box-img {
        margin: 20.8px;
        border-radius: 10px;
        background-color: #f4f4f4;
    }


    .a-leftside {
        background: $mainGreen;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90% !important;
        height: 2.2rem !important;
        border-radius: 150px !important;
        margin: auto;
    }


    .box-btn {
        padding-bottom: 21.6px;
        padding-top: 24px;

        button {
            border-radius: 150px !important;
            background-color: transparent;
            box-shadow: none;
            font-weight: 800 !important;

            &:hover {
                box-shadow: none;
                background-color: $lightDark !important;
                transition: all .3s;
            }

            span {
                padding-left: 11px;
            }

        }
    }





    .btn-card-active {
        border-radius: 150px !important;
        // background-color: transparent;
        box-shadow: none;
        // font-weight: 800 !important;
        direction: ltr;

        span {
            margin-left: 9px;

            svg {
                font-size: 19px !important;
            }
        }
    }

    .btn-card-active-hover:hover {
        box-shadow: none;
        background-color: $lightDark !important;
        transition: all .3s;
    }

    .btn-card-active-hover-none {
        box-shadow: none;
        background-color: $theme-color !important;
    }

    .fableftSide {
        box-shadow: none !important;
        margin-left: 13px !important;
    }
}



// attention-desktop
#attention-desktop {
    position: relative;
    margin-top: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 35px rgb(159 171 180 / 13%);


    div {
        position: absolute;
        top: -39px;
        padding-top: 16.8px;
        padding-bottom: 16.8px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 5px;
        box-shadow: 0 10px 32px rgb(65 65 65 / 8%);
        color: $red-main;
        background-color: $light-main;


        h6 {
            padding-right: 8px;
            line-height: 1.8;
        }
    }

    p {
        margin-top: 24px;
        line-height: 1.8;
    }
}






#open-dialog {

    .MuiDialog-paperScrollPaper {
        overflow-y: inherit !important;
    }

    .MuiDialogContent-root {
        // padding: 20px 10px 20px 10px !important;

        @media screen and (max-width: 911px) {
            padding: 0 !important;
        }
    }

    span {
        font-size: 13px !important;
    }

    .btn-openmodal-left {
        border-radius: 15px !important;
        height: 47px;
        font-size: 15px;
        margin-top: 18px;
    }



    // modalOne
    .btn-clearmodalOne-left {
        border-radius: 6px !important;
        background-color: $redModal;
        position: absolute;
        bottom: 96%;
        right: 95.5%;
    }





    .gruop-mob {
        h6 {
            @include textTrancate;
        }

    }



    // dialog-mob

    .box-dialog-mob {
        button {
            border-radius: 5px !important;
            height: 55px;
            font-size: 15px;
            margin-top: 26px;
        }
    }
}

// }




#open-dialogTwo {

    .MuiDialog-paperScrollPaper {
        overflow-y: inherit !important;
    }

    .MuiDialogContent-root {
        // padding: 20px 10px 20px 10px !important;

        @media screen and (max-width: 911px) {
            padding: 0 !important;
        }
    }

    // modalTwo
    .btn-clearmodalTwo-left {
        border-radius: 6px !important;
        background-color: $redModal;
        position: absolute;
        bottom: 93%;
        right: 95%;
    }



    .btn-openmodal-left {
        border-radius: 10px !important;
        height: 47px;
        font-size: 15px;
        margin-top: 18px;
    }



    .text-box__input {
        padding: 10px !important;
        height: 34px;
        width: 94.8%;
        line-height: 2;
        color: black;
        font-weight: 600;
        box-shadow: 0 0 3px #8f8f8f;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        margin-top: 10px;
        resize: none;
    }


    .text-box__input:focus {
        height: 80px;
        outline: none;
    }


    // modalTwo-mob
    .text-box__input-mob {
        padding: 10px !important;
        height: 46px;
        width: 96%;
        line-height: 2;
        color: black;
        font-weight: 600;
        box-shadow: 0 0 18px rgb(159 171 180 / 60%);
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        margin-top: 10px;
        resize: none;
    }

    .text-box__input-mob:focus {
        height: 80px !important;
        outline: none !important;
    }

    .box-dialog-two-mob {
        button {
            border-radius: 5px !important;
            height: 55px;
            font-size: 15px;
            margin-top: 26px;
        }
    }

}