$after-title-border: #19bfaf;
$green-btn: #4ac562;


// showRequestMobile
.mobile-conatiner {
    max-width: 628px !important;
}




// leftSide-mobile

#leftSide-mobile {
    .title-card {
        // display: inline;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            border-left: solid 2px $after-title-border;
            margin-top: 3px;
            border-radius: 95px;
            height: 17px;
            right: 98px;
        }

    }



    .box-img {
        border-radius: 10px;
        background-color: #f4f4f4;
    }



    .btn-card {
        background-color: #fff;
        box-shadow: 0 0 13px rgb(159 159 159 / 9%) !important;
        letter-spacing: -1 !important;
        margin-top: -4px !important;
        font-weight: 800 !important;

        &:hover {
            box-shadow: none;
            background-color: $lightDark !important;
            transition: all .3s;
        }

        span {
            padding-left: 11px;
        }

    }



    .card-left-mobile {
        padding-bottom: 54px;
        border-radius: 10px !important;
        max-width: 100% !important;
        margin-top: 25.4px !important;
        box-shadow: 0 0 35px rgb(159 171 180 / 13%) !important;
        // margin-bottom: 38px;
    }


    .btn-card-active {
        border-radius: 150px !important;
        // background-color: transparent;
        box-shadow: none;
        // font-weight: 800 !important;
        direction: ltr;

        span {
            margin-left: 9px;

            svg {
                font-size: 19px !important;
            }
        }
    }

    .btn-card-active-hover:hover {
        box-shadow: none;
        background-color: $lightDark !important;
        transition: all .3s;
    }

    .btn-card-active-hover-none {
        box-shadow: none;
        background-color: $theme-color !important;
    }


    .fableftSide {
        box-shadow: none !important;
        margin-left: 13px !important;
    }

}

#btnModal {
    padding-bottom: 21.6px;
    padding-top: 18.4px;

    .btn-right {
        border-radius: 8px !important;
        background-color: transparent;
        box-shadow: none;
        width: 47.5% !important;
        padding: 16px 0px 16px 0px;

        &:hover {
            box-shadow: none;
            background-color: $lightDark !important;
            transition: all .3s;
        }

        span {
            padding-left: 11px;

            svg {
                font-size: 25px !important;
            }
        }

    }



    .btn-left {
        border-radius: 8px !important;
        // background-color: $green-btn;
        box-shadow: none;
        width: 47.5% !important;
        padding: 16px 0px 16px 0px;
        // &:hover {
        //     box-shadow: none;
        //     background-color: $lightDark !important;
        //     transition: all .3s;
        // }

        span {
            padding-left: 11px;

            svg {
                font-size: 25px !important;
            }
        }

    }


}

// navbar-mob
.navbar-mob-app {
    a {
        font-size: 19px !important;
        color: $light !important;

        span {
            svg {
                color: $light !important;
                font-size: 29px !important;
                margin-left: 9px;
                margin-right: -24px;
            }
        }
    }
}