// Start LeftSide
#leftSide-desktop {
  border-radius: 10px !important;
  max-width: 100% !important;
  margin-top: 55px;
  box-shadow: 0 0 35px rgb(159 171 180 / 13%) !important;

  @media screen and (max-width: 911px) {
    padding-bottom: 30px;
    margin-top: 25.4px !important;

  }

  .box-img {
    margin: 20.8px;
    border-radius: 10px;
    background-color: #f4f4f4;
    filter: grayscale(1);

    img {
      margin: auto;
      width: 160px;
    }
  }

  .exist-img {
    img {
      height: 280px;
      width: 100%;
      border-radius: 7px;
    }
  }

  .a-leftside {
    background: $mainGreen;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90% !important;
    height: 2.2rem !important;
    border-radius: 150px !important;
    margin: auto;
  }

  .box-btn {
    padding-bottom: 21.6px;
    padding-top: 24px;

    button {
      border-radius: 150px !important;
      background-color: transparent;
      box-shadow: none;
      font-weight: 800 !important;

      &:hover {
        box-shadow: none;
        background-color: $lightDark !important;
        transition: all 0.3s;
      }

      span {
        padding-left: 11px;
      }
    }
  }

  .btn-card-active {
    border-radius: 150px !important;
    // background-color: transparent;
    box-shadow: none;
    // font-weight: 800 !important;
    direction: ltr;

    span {
      margin-left: 9px;

      svg {
        font-size: 19px !important;
      }
    }
  }

  .btn-card-active-hover:hover {
    box-shadow: none;
    background-color: $lightDark !important;
    transition: all 0.3s;
  }

  .btn-card-active-hover-none {
    box-shadow: none;
    background-color: $theme-color !important;
  }

  .fableftSide {
    box-shadow: none !important;
    margin-left: 13px !important;
  }
// Start leftSide-mobile
  .title-card {
    // display: inline;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      border-left: solid 2px $green;
      margin-top: 3px;
      border-radius: 95px;
      height: 17px;
      right: 98px;
    }
  }


}
// End LeftSide




// Start leftSide-mobile
.btn-card-mobile {
  background-color: #fff;
  box-shadow: 0 0 13px rgb(159 159 159 / 18%) !important;
  letter-spacing: -1 !important;
  margin-top: -24px !important;
  font-weight: 800 !important;
  margin-right: 20px;
  
  &:hover {
    box-shadow: none;
    background-color: $lightDark !important;
    transition: all 0.3s;
  }
  
  span {
    padding-left: 11px;
  }
}
// End leftSide-mobile


