// Start moreDetails-desktop
#moreDetails-desktop {
    .box-main {
        margin-top: 20px;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 35px rgb(159 171 180 / 13%);
    }



    .box-skeleton {
        span {
            height: 14px !important;
        }

        .span-1 {
            margin-bottom: 28px;
            width: 252px !important;
        }


        .span-3 {
            margin-top: 36.8px;
        }
    }

}

//End moreDetails-desktop