//Start BoxGrouping
#boxgrouping {
    border-radius: 10px;
    box-shadow: 0 0 18px rgb(159 171 180 / 20%);
  
    button {
      border-radius: 8px !important;
      background-color: transparent;
      box-shadow: none;
      font-weight: 600;
  
      &:hover {
        box-shadow: none;
        background-color: $lightDark !important;
        transition: all 0.3s;
      }
  
      span {
        padding-right: 15px !important;
  
        svg {
          font-size: 26px !important;
        }
      }
    }
  
    hr {
      border-color: #e7e7e7 !important;
      height: 24px;
      margin-top: 20px;
    }
  }
  
  //End BoxGrouping