// Start btnStore
#btnStore {
    direction: ltr;
    float: left;
    margin-top: 30px;
  
    button {
      box-shadow: none;
      border-radius: 50px;
      background-color: $green;
      padding: 20px 30px 20px 26px;
  
      &:hover {
        transition: all 0.3s;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
          0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
      }
    }
  }
  // End btnStore