html {
  scroll-behavior: smooth;
}

body {
  font-family: "Iran yekan", "Nunito", Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

ul {
  list-style-type: none;
  padding-right: 0 !important;
}

a {
  text-decoration: none !important;
}
