html {
  scroll-behavior: smooth;
}

body {
  font-family: "Iran yekan", "Nunito", Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  &::-webkit-scrollbar {
    background-color: #f3f3f3;
    width: 14px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 5px;
  }
}

ul {
  list-style-type: none;
  padding-right: 0 !important;
}

a {
  text-decoration: none !important;
}

.style-toast {
  font-size: 14px !important;
}
