@font-face {
  font-family: "Iran yekan";
  src: url("../fonts/iranyekan.woff2"),
    url("../fonts/iranyekan.woff2") format("woff2");
}

@font-face {
  font-family: "Iran yekan medium";
  src: url("../fonts/iranyekan-medium.woff2"),
    url("../fonts/iranyekan-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  src: url("../fonts/nunito-light.woff2") format("woff2");
}
